{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}
  <form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
      <label for="artist">Email Address</label>
      <input
        type="artist"
        class="form-control"
        id="artist"
        name="artist"
        placeholder="Enter artist"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div id="albums_db">
      {%for album in user.Albums%}
      <div>
        ririririririr
        {{album.album}}
        {{album.artist}}
        {{album.album_rating}}
        <img src={{album.album_cover_link}}>
      </div>

  </div>
  {% endblock %}




